In [2]:
import pandas as pd

In [3]:
nama=pd.Series(['Irma','Faiz','Firda'])
matematika=pd.Series([80,90,80])
ipa=pd.Series([90,70,80])
df=pd.DataFrame({'Nama':nama,'Matematika':matematika,'IPA':ipa})
print(df)

    Nama  Matematika  IPA
0   Irma          80   90
1   Faiz          90   70
2  Firda          80   80

In [4]:
df['Rata Nilai']=df.mean(axis=1)
print(df)

    Nama  Matematika  IPA  Rata Nilai
0   Irma          80   90        85.0
1   Faiz          90   70        80.0
2  Firda          80   80        80.0

In [5]:
Math=df.Matematika
print(Math)

0    80
1    90
2    80
Name: Matematika, dtype: int64

In [6]:
df=df.replace('Irma','Imra')
print(df)

    Nama  Matematika  IPA  Rata Nilai
0   Imra          80   90        85.0
1   Faiz          90   70        80.0
2  Firda          80   80        80.0

In [8]:
df=df.replace({80:90,90:70})
print(df)

    Nama  Matematika  IPA  Rata Nilai
0   Imra          70   70        85.0
1   Faiz          70   70        70.0
2  Firda          70   70        70.0